{% extends "layout.html" %}
{% block content %}

<!-- STAGE STATUS-->
<div id="idDivStageStatus" style='display: block; overflow: hidden;'>
    <center>
        <h6 id="idStageSoundState"></h6>
    </center>
    <h5>Fetching Node List ...</h5>
</div>


<!-- STAGE -->
<div id="idDivStage" style="display: none; overflow: hidden;">
</div>

<!-- LAUNCH PAGE -->
<div id='idMainName'>
    <center>
        <div id='bg' style="background-image: url('static/images/toppng.com-colored-smoke-png-transparent-images-colorful-smoke-transparent-397x216.png'); opacity:0.3; background-position:center;"></div>
        <br>        
    </center>

    <div id=idNodeList>
    <!--
    {% for i in data %}
        <div class="grid-container" id="container-{{i[3]}}">
            <div class="itemHeader">
                <h3 id="header.{{i[3]}}"><b>{{i[4]}} ({{i[3]}})</b></h3>
                <h6><i>Seen few seconds ago @ 8:22 AM</i></h6>
            </div>
            <div class="itemMain"> 
                <p>Firmware: 0.x.y.z</p>
                <p>{{i[15]}}</p>
                <p>{{i[16]}}</p>
                <p>{{i[17]}}</p>
            </div>
            <div class="itemRight">
                <p>{{i[14]}}</p>
                <p>Timezone: +05:30</p>
                <p>Status: {{i[6]}}</p>
                <p>{{i[18]}}</p>
            </div>
            <div class="itemFooter">
                <br>
                <i class="fas fa-cogs fa-2x" id="button-settings-{{i[3]}}" style="margin-left: 10px; margin-right: 10px;"></i>
                <i class="fas fa-lightbulb fa-2x" id="button-locate-{{i[3]}}" style="margin-left: 10px; margin-right: 10px;"></i>
                
                <i class="fas fas fa-sync-alt fa-3x" id="button-refetch-{{i[3]}}" style="margin-left: 20px; margin-right: 20px;"></i>

                <i class="fas fa-info-circle fa-2x" id="button-info-{{i[3]}}" style="margin-left: 10px; margin-right: 10px;"></i>
                <i class="fas fa-power-off fa-2x" id="button-reboot-{{i[3]}}" style="margin-left: 10px; margin-right: 10px;"></i>
            </div>
        </div>
        <br>
    {% endfor %}
    -->
    </div>

</div>

{% endblock %}